html,
body {
  overflow: hidden;
  font-family: monospace, 'Courier New', Courier;
}

body {
  background: rgb(13, 7, 61);
  background: -moz-linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  background: linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d073d",endColorstr="#393221",GradientType=1);
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.workspace {
  min-width: 640px;
}

/*  workspace  > title-bar */

.title-bar {
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.8);
  background: #c1bfc4;
  font-size: 16px;
  text-align: center;
  font-family: 'Courier New', Courier;
}

.button-set {
  height: 13px;
  position: absolute;
  padding: 3px 0 0 10px;
}
.button {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
.close {
  background: #e75448;
}
.minimize {
  background: #ffde39;
}
.maximize {
  background: #3bb662;
}
.close:hover {
  background-color: rgb(201, 74, 52);
  padding: 5px;
  outline: 1px solid rgb(201, 74, 52);
}

/*  workspace  > terminal */

.workspace .terminal {
  color: white;
  padding: 5px;
  background-color: black;
  opacity: 0.75;
  height: 350px;
  font-weight: 200;
  font-size: 14px;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.5em;
}
.arrow {
  color: #4cdd28;
  font-size: 16px;
}
.path {
  color: #e75448;
  font-weight: 800;
  margin-right: 6px;
}
.input {
  padding: 5px 10px 5px 0;
  outline: 0;
}
.css-output {
  margin: 0 0 10px 0;
}
td {
  padding-right: 50px;
}
.welcome-msg {
  color: #3bb662;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(44) 1s 1 normal both;
}

.link {
  color: rgb(251, 255, 0);
  text-decoration: none;
}

/*  mobile version */

.dash {
  display: none;
}

/* dash > lights */

.led-set {
  display: inline-block;
}
.led {
  margin: 1px 0 1px 0;
  display: inline-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  animation: led 0.8s infinite;
}
.yellow {
  background-color: #e4d01d;
  animation: led 0.5s infinite;
}
.blue {
  background-color: #0ccef0;
  animation: led 1.2s infinite;
}
.red {
  background-color: rgb(255, 136, 115);
}

/* dash > list */

.dash ul {
  margin: 0;
  padding: 0;
}
.dash ul li {
  list-style: none;
  font-size: 1.7rem;
  padding: 5px 15px 5px 15px;
  color: rgb(255, 241, 241);
}
.dash ul a {
  text-decoration: none;
  color: rgb(255, 241, 241);
}
.dash ul li:hover,
.dash ul a:hover {
  color: rgb(233, 127, 56);
  cursor: pointer;
}
.dash ul li:active,
.dash ul a:active {
  color: rgb(126, 194, 17);
  cursor: pointer;
}

.menu-item {
  background: rgba(41, 37, 37, 0.678);
  padding: 12px;
  border-radius: 15px;
}

/* contact form */

.message-close {
  background: #e75448;
}
.message-close:hover {
  background-color: rgb(201, 74, 52);
  padding: 5px;
  outline: 1px solid rgb(201, 74, 52);
}

.message-box {
  display: none;
  max-width: 400px;
}

#contact-form {
  display: flex;
  width: 350px;
  flex-direction: column;
  padding: 15px;
  background-color: #13110d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#contact-form > input,
#contact-form > textarea {
  margin: 6px 0;
  padding: 8px;
  background-color: #70787242;
  border: none;
  outline: none;
  color: rgb(182, 170, 170);
  resize: none;
  font-family: monospace, 'Courier New', Courier;
}
#form-submit {
  padding: 12px !important;
}
#form-submit:hover {
  color: #00000088;
  background-color: #c3c3ced5;
}

::placeholder {
  color: rgb(110, 106, 106);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(110, 106, 106);
}

::-ms-input-placeholder {
  color: rgb(110, 106, 106);
}
textarea::-webkit-scrollbar {
  width: 0.9em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 5px 0 10px rgba(71, 68, 68, 0.9);
  box-shadow: #484649;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(2, 1, 1);
  outline: 1px solid rgb(89, 91, 92);
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes led {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
/* media queries */

@media only screen and (max-width: 470px) {
  .workspace {
    display: none;
  }
  .dash {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .workspace {
    min-width: 100%;
  }
}
