html,
body {
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: rgb(13, 7, 61);
  background: -moz-linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  background: linear-gradient(
    309deg,
    rgba(13, 7, 61, 1) 0%,
    rgba(83, 75, 61, 1) 55%,
    rgba(57, 50, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d073d",endColorstr="#393221",GradientType=1);
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.workspace {
  width: 640px;
}

/*  workspace  > title-bar */

.workspace .title-bar {
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.8);
  background: #c1bfc4;
  font-size: 16px;
  text-align: center;
}

.workspace .button-set {
  height: 13px;
  position: absolute;
  padding: 3px 0 0 10px;
}
.workspace .button {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
.close {
  background: #e75448;
}
.minimize {
  background: #ffde39;
}
.maximize {
  background: #3bb662;
}

/*  workspace  > terminal */

.workspace .terminal {
  color: white;
  padding: 5px;
  background-color: black;
  opacity: 0.75;
  height: 350px;
  font-family: monospace, Courier;
  font-weight: 200;
  font-size: 14px;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.5em;
}
.arrow {
  color: #4cdd28;
  font-size: 16px;
}
.path {
  color: #e75448;
  font-weight: 800;
  margin-right: 6px;
}
.user-input {
  padding: 5px 10px 5px 0;
  outline: 0;
}
.css-output {
  margin: 0 0 10px 0;
}
td {
  padding-right: 50px;
}
.welcome-msg {
  color: #3bb662;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(44) 1s 1 normal both;
}

.link {
  color: rgb(251, 255, 0);
  text-decoration: none;
}

/*  mobile version */

/* dash > lights */
.led-set {
  display: inline-block;
}
.led {
  margin: 1px 0 1px 0;
  display: inline-box;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  animation: led 0.8s infinite;
}
.yellow {
  background-color: #e4d01d;
  animation: led 0.5s infinite;
}
.blue {
  background-color: #0ccef0;
  animation: led 1.2s infinite;
}
.red {
  background-color: rgb(255, 136, 115);
}
/* dash > list */
.dash ul {
  margin: 0;
  padding: 0;
}
.dash ul li {
  list-style: none;
  font-size: 1.4rem;
  font-family: monospace;
  padding: 4px 15px 4px 15px;
  color: rgb(255, 241, 241);
}
.dash ul a {
  text-decoration: none;
  color: rgb(255, 241, 241);
}
.dash ul li:hover,
.dash ul a:hover {
  color: rgb(233, 127, 56);
  cursor: pointer;
}
.dash ul li:active,
.dash ul a:active {
  color: rgb(126, 194, 17);
  cursor: pointer;
}

.menu-item {
  background: rgba(41, 37, 37, 0.678);
  padding: 8px;
  border-radius: 15px;
}

/* key frames */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}

@keyframes led {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
